* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #f8f8f8;
}


section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid cadetblue;
    background-color: white;
    margin: auto;
}

article {
    margin: 16px;
    margin-bottom: 2px;
}

video {
    height: 100px;
    width: 200px;
}

main {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
}

#container {
    display: grid;
    margin: 0;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    width: 100%;
    row-gap: 36px;
    column-gap: 36px;
    text-align: center;
    justify-content: center;
}