* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;

}

html {
    background-color: lightcoral;
    display: inline;
}

.header {
    height: 20%;
    text-align: center;
    background-color: khaki;
    width: 100%;
}

.menu {
    width: 100%;
    padding: 36px;
    align-items: center;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.body {
    background-color: lightcoral;
    padding: 210px 0px ;
    text-align: justify;
    align-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    
}

.footer {
    width: 100%;
    text-align: center;
    background-color: khaki;
    position: absolute;
    bottom: 0px;
}

.footer .image img {
    height: 32px;
}


